/* This is an empty style sheet in CSS */
.myheader {
    background-color:  #99bdf7;
    width: 100%;
}

#minusButton{
    background-color: lightgray;
    color: black;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    text-align: center;
    margin-right: 10px;
}

#plusButton {
    background-color: lightgray;
    color: black;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    text-align: center;
    margin-left: 10px;
}

#openButton{
    background-color: lightgray;
    color: black;
    border-radius: 5px;
    float: right;
    width: 150px;
    height: 60px;
    margin-top: 280px;
    margin-right: 10px;
}

#closeButton  {
    background-color: lightgray;
    color: black;
    border-radius: 5px;
    float: right;
    width: 150px;
    height: 60px;
    margin-top: 280px;
}

#minusButton:hover, #closeButton:hover:not([disabled]) {
    background-color: red;
    border: none;
    cursor: pointer;
}

#plusButton:hover, #openButton:hover:not([disabled]) {
    background-color: green;
    border: none;
    cursor: pointer;
}

#clock {
    width: 200px;
    height: 20px;
    padding: 10px;
    background-color: slategray;
    color: #34eb5e;
    font-size: 48;
    font-family: Orbitron;
    letter-spacing: 5px;
    border-radius: 5px;
    text-align: center;
    margin-left: 60%;
}